RFB/STM32L431/workspace/
RFB/STM32L431/STM32CubeIDE/Debug/

RFBCON_L4/workspace/
RFBCON_L4/STM32CubeIDE/Debug/

ADCBoard/ADCBoard.cache/
ADCBoard/ADCBoard.runs/
ADCBoard/ADCBoard.gen/

ADCBoard/hs_*.log
ADCBoard/hs_*.dmp
ADCBoard/vivado_*.backup.log
ADCBoard/vivado_*.backup.jou


Bajie7020/Bajie7020.cache/
Bajie7020/Bajie7020.runs/
Bajie7020/Bajie7020.gen/

Bajie7020/hs_*.log
Bajie7020/hs_*.dmp
Bajie7020/vivado_*.backup.log
Bajie7020/vivado_*.backup.jou

Project06_PetaLinux_20200412_V02_No_HDMI/
Project06_PetaLinux_With_HDMI_20200412_V02/

Bajie7020.7z
Project06_PetaLinux_20200412_V02_No_HDMI.zip
Project06_PetaLinux_With_HDMI_20200412_V02.zip

petalinux/bajie7020/images/

RFBCON_L4/Drivers/
RFBCON_L4/Middlewares/
RFBCON_L4/cmake-build-debug/
vitisworkspace/